@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;600&display=swap");

* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(55, 60, 63);
  font-family: Lato;
  font-weight: 300;
  margin: 0;
}

.window-main {
  background: url("../assets/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: white;
  height: 49px;
  padding: 5px;
  border: 1px solid rgb(237, 239, 241);
}

.nav-buttons-container {
  display: flex;
  flex-direction: row;
}

nav button {
  height: 40px;
  padding: 10px;
  margin: 0px;
}

.loggedin-user-email {
  padding-top: 8px;
  padding-right: 10px;
}

.header-container {
  max-height: 255px;
  padding: 8px 16px;
}

.header {
  font-size: 36pt;
  font-weight: 100;
  color: white;
  letter-spacing: 70px;
  padding-left: 70px;
  text-align: center;
  padding-top: 80px;
}

.title-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-left: 15%;
  align-items: center;
  background: white;
  max-height: 78px;
}

.title {
  width: 100%;
  margin: 0;
  padding-top: 12px;
  font-weight: 600;
  font-size: 22pt;
}

.mini-title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  color: gray;
}

.title-avatar {
  border: 5px solid white;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(55, 60, 63);
  padding: 20px;
}

.content-area {
  width: 100%;
  max-width: 650px;
}

.info-area {
  padding-left: 30px;
}

.new-post {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding-right: 10px;
}

.new-post-input {
  background-color: rgb(246, 247, 248);
  width: 100%;
  height: 40px;
  margin-top: 7px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 4px;
  font-weight: 100;
  padding-left: 20px;
}

.post-container {
  display: flex;
  max-width: 100%;
  background: white;
  border-radius: 4px;
  margin-bottom: 15px;
}

.post-link-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.post-title {
  margin-top: 10px;
  margin-bottom: 3px;
}

.post-image {
  border-radius: 5px;
  /* padding instead of margin: border radius disappears */
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 150px;
}

.post-actions {
  width: 320px;
  margin-top: 10px;
}

.post-actions small {
  padding-right: 20px;
  font-weight: 400;
}

.delete-button {
  color: rgb(255, 65, 65);
}

.post-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  padding: 8px 10px 8px 10px;
}

.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  padding: 17px;
  background: rgb(215, 216, 217);
  border-radius: 3px 0px 0px 3px;
  white-space: normal;
  overflow: hidden;
  font-size: 10pt;
  font-weight: 400;
}

.about {
  height: 350px;
  width: 300px;
  background-color: rgb(100, 109, 114);
  border: 1px solid rgb(80, 87, 92);
  border-radius: 4px;
  color: white;
}

.about-header {
  background-color: rgb(55, 60, 63);
  width: 100%;
  height: 40px;
  font-size: 11pt;
  font-weight: 400;
  padding: 10px;
  white-space: normal;
  overflow: hidden;
}

.about-text {
  padding: 10px;
}

/* ANIMATIONS */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 46px;
  height: 46px;
  margin: 8px;
  border: 5px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* DIFFERENT SCROOL SPEED FOR ELEMENTS */

.forefront-element {
  -webkit-transform: translateZ(999px) scale(.7);
  transform: translateZ(999px) scale(.7);
  z-index: 1;
}

.base-element {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.background-element {
  -webkit-transform: translateZ(-999px) scale(2);
  transform: translateZ(-999px) scale(2);
  z-index: 3;
}

/* TOOLTIP FOR TIME PASSED */

/* Tooltip text */
.timestamp .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255, 235, 209);
  color: rgb(151, 106, 63);
  text-align: center;
  font-size: 8pt;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.timestamp:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 950px) {
  .info-area {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .info-area {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 6vw;
    letter-spacing: 12vw;
    padding-left: 12vw;
  }

  .title-container {
  padding-left: 8%;
  }
}

@media screen and (max-width: 718px) {
  .title-container {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .post-actions {
    width: 270px;
  }
}

@media screen and (max-width: 548px) {
  .post-text-container {
    max-width: 60%;
    font-size: 12pt;
  }

  .post-link-container {
    max-width: 90%;
  }

  .post-image {
    max-width: 150px;
  }
}

@media screen and (max-width: 460px) {
  .post-text-container {
    max-width: 60%;
    font-size: 9pt;
  }

  .post-link-container {
    max-width: 90%;
  }

  .post-image {
    max-width: 120px;
  }
}

@media screen and (max-width: 400px) {
  .main {
    padding: 0px;
  }
}

@media screen and (max-width: 350px) {
  .main {
    padding: 0px;
  }

  .post-text-container {
    max-width: 50%;
    font-size: 8pt;
  }
}