.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  margin-top: 15px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 8px;
}

.userinfo {
    padding-top: 10px;
    width: 100%;
    text-align: left;
}

.submit-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new-comment-textarea {
  width: 100%;
  border-style: solid;
  border-color: rgb(209, 209, 209);
  border-radius: 3px;
  font-family: Lato;
  font-weight: 300;
}

.comments-list {
  width: 100%;
  font-size: 11pt;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.commenter {
  padding-top: 10px;
  padding-bottom: 3px;
}

.comment {
  padding-bottom: 10px;
}

.comment-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

