.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  height: 100vh;
  width: 100%;
}

.profile-button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: rgba(69, 165, 215);
  width: 100%;
}

.user-avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  padding: 5px;
  border: 5px solid black;
  border-radius: 100%;
}

.invisible {
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}